target
*.iml
*.iws
*.ipr
.project
.classpath
.settings
.metadata
.svn
.idea
.checkstyle
atlassian-ide-plugin.xml
.sonar-ide.properties
*.patch
deltaspike/core/impl/data
deltaspike/modules/jsf/impl/data
deltaspike/modules/security/impl/data
*.log
