body {
    margin: 0;
    padding: 0;
    background-color: #5c6066;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

div#header {
    height: 80px;
    background-color: #eeeeee;
}

div#headerMenu {
    float: right;
}

div#title {
    padding-top: 22px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 180px;
}

div#container {
    margin: 0px auto;
    padding: 2px 2px 2px 4px;
    border: 1px solid #666666;
    width: 865px;
    background: #FFFFFF;
}

div#sidebar {
    font-size: 0.9em;
    width: 160px;
    float: left;
    border: 1px solid #666666;
    background: #EAECEE;
    padding: 4px 4px 24px 4px;
    margin-top: 8px;
}

div#content {
    padding: 4px 4px 4px 4px;
    margin-left: 180px;
}

div.menuitem a {
    font-weight: bold;
    text-decoration: none;
}

input.newuser {
    background: url(btn_newuser.png) top left no-repeat;
    height: 39px;
    width: 113px;
    margin: 4px 4px 4px 4px;
    border: 0px;
    cursor: pointer;
}

